[databases]
test_db = host={{ haproxy_server_ip }} port=5433 dbname=account user=repuser password={{ lookup('file', db_password_file) | trim }}


[pgbouncer]
listen_addr = *
listen_port = 6432
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
logfile = /var/log/pgbouncer/pgbouncer.log
pidfile = /var/run/pgbouncer/pgbouncer.pid
